{% extends 'core/index.html' %}
{% load  static %}
{% block title %} Nosotros {% endblock %}
{% block static %} 
    <link  type='text/css' href='{% static "css/acerca.css" %}' rel='stylesheet'> 
{% endblock %}
<!-- https://nutricionenmovimiento.co/acerca-de-nosotros/-->

{% block content %} 

    <div class="tituacerca">
        <div class="titu1">
            <h2>Acerca de</h2>
        </div>
        <div class="titu2">
            <h2>Nutrimec</h2>
        </div>
    </div>

    <div class="contex">
        <div class="contex1">
        <p style="text-align: justify;">Contamos con un grupo 
        <strong>multidisciplinario de profesionales en nutrición y psicología</strong>
        que apoya cada uno de los programas en nutrición y salud, buscando siempre lograr 
        un sentido de bienestar para toda nuestra comunidad. Nuestro objetivo principal es 
        generar hábitos saludables y un estilo de 
        <strong>vida sostenible en el tiempo</strong>, con el fin de que las personas 
        obtengan resultados para el resto de su vida.</p>
        <p style="text-align: justify;">Nuestro equipo se especializa en diferentes áreas de
        la nutrición humana para atender a cualquier persona, 
        de cualquier edad o condición de salud en la que se encuentre.</p>
        </div>
        <div class="contex2">
            <img src="/static/img/enfermeras.jpg" alt="logo de nutrimec" width="600px" height="360px">
        </div> 
    </div>
    <div class="doc">
        <div class="doc1">
            <img src="/static/img/lina.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Lina María Valencia</p>
            <p class="paf1">Fundadora - Nutricionista Dietista</p>
            
            <li>Nutricionista Dietista, Pontificia Universidad Javeriana.</li>
            <li>Magíster en Epidemiología,  Universidad del Valle.</li>
            <li>Antropometrista ISAK II.</li>
            <li>Diplomada en Nutrición Materno Infantil y Certificada
            en Alimentación Complementaria, CIENutrition.</li>
            <li>Directora y Fundadora de Nutrición en Movimiento.</li>
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/vanessa.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Vanessa Mateus</p>
            <p class="paf1">Fundadora - Nutricionista Dietista</p>

            <li>Nutricionista Dietista, Pontificia Universidad Javeriana</li>
            <li>Especialista en trastornos de la Conducta Alimentaria y Obesidad, Universidad de Barcelona</li>
            <li>Antropometrista  ISAK 1</li>
            <li>Diplomada en el Manejo integral del Paciente Adulto</li>
            <li>Experiencia en manejo interdisciplinar de paciente con TCA, programas de primera 
                infancia, manejo de pacientes con enfermedades crónicas y adulto mayor.</li>
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/yansa.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Yansabeth Granados</p>
            <p class="paf1">Nutricionista Dietista</p>
            
            <li>Nutricionista Dietista, Pontificia Universidad Javeriana.</li>
            <li>Certificada en Programación neurolingüística, Nutritional Coaching</li>
            <li>Antropometrista  ISAK 1.</li>
            <li>Diplomado en el Manejo integral del Paciente Adulto</li>
            <li>Diplomado envejecimiento activo y participativo, y diabetes</li>
            <li>Experiencia en soporte nutricional y metabólico, programas de primera infancia, 
            manejo de pacientes con enfermedades crónicas y adulto mayor.</li>
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/daniela.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Daniela Peña </p>
            <p class="paf1">Nutricionista Dietista</p>
            <li>Nutricionista-Dietista, IU Escuela Nacional del Deporte en Cali</li>
            <li>Directora de prácticas académicas Nutrición en Movimiento.</li>
            <li>Experiencia e investigación en deportistas, sobrepeso y obesidad.</li>           
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/natalia.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Natalia Arango </p>
            <p class="paf1">Nutricionista Dietista</p>
            
            <li>Nutricionista-Dietista, IU Escuela Nacional del Deporte en Cali</li>
            <li>Certificada en alimentación completaría, CIENutrition</li>
            <li>Antropometrista ISAK l</li>           
        </div> 
    </div>
    
    <div class="doc">
        <div class="doc1">
            <img src="/static/img/claudia.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Claudia Arango </p>
            <p class="paf1"> Nutricionista Dietista</p>
            <li>Nutricionista Dietista, IU Escuela Nacional del Deporte</li>
            <li>Atención integral del adulto y enfermedades crónicas.</li>
            <li>Experiencia en programas de primera infancia</li>  
            <li>Candidata a certificación en Psicología de la alimentación. </li>         
        </div> 
    </div>
    
    <div class="doc">
        <div class="doc1">
            <img src="/static/img/monica.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Mónica Uribe </p>
            <p class="paf1">Nutricionista Dietista</p>
            <li>Nutricionista Dietista, Pontificia Universidad Javeriana</li>
            <li>Diplomada en Oncología y Nutrición, Normas HAACP, tratamiento de sobrepeso y obesidad.</li>
            <li>Certificada en Alimentación complementaria, CIENutrition</li>  
            <li>Pautas de Crianza. </li>     
            <li>Candidata a Magister Internacional en Nutrición Materno Infantil.</li>  
            <li>Experiencia en proyectos de nutrición auto sostenibles, Soberanía alimentaria en 
            comunidades indígenas, Programas de primera infancia, niñez, adolescencia y mujeres gestantes y lactantes </li>     
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/maria.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Maria Camila Mayor </p>
            <p class="paf1">Nutricionista Dietista</p>
            <li>Nutricionista Dietista, Pontificia Universidad Javeriana</li>
            <li>Magister en nutrición deportiva, Universidad CES</li>
            <li>Antropometrista ISAK II</li>  
            <li>Coach nutricional certificada</li>  
            <li>Nutricionista deportiva en América de Cali S.A equipo 
            profesional masculino, femenino y categorías de formación.</li>       
        </div> 
    </div>

    <div class="doc">
        <div class="doc1">
            <img src="/static/img/carol.png" alt="logo de nutrimec" width="200px" height="190px">
        </div>
        <div class="doc2">
            <p class="paf">Carol de la Cruz Psicología</p><br>
            <p class="paf1">Psicología</p>
            <li>Psicología, Universidad San Buenaventura</li>
            <li>Candidata a Certificación INternacional en Psicología de la Alimentación </li>
            <li>Certificada en Salud Mental en Tiempos de Pandemia </li>  
            <li>Experiencia en Intervención y Atención Psicológica a población infantil, adolescente y adulta.</li>       
        </div> 
    </div>
{% endblock %}