<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>{% block title %} {% endblock %} | Nutrimec</title>     
    {% load  static %}
    <link type="text/css"  href='{% static "css/estiloPrincipal.css" %}' rel="stylesheet">
    {% block static %} {% endblock %}
    </head>

 <body>

    <!-- Navegación -->
    
      <div class="container">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Nutrimec</a>
            </li>
      </div>

<!--contendio-->
    {% block content %} {% endblock %}


  </body>
</html>