{% extends 'core/index.html' %}
{% load  static %}
{% block title %} Recetas {% endblock %}

{% block static %} 
    <link  type='text/css' href='{% static "css/estilosrecetas.css" %}' rel='stylesheet'> 
{% endblock %}

    
{% block content %}

    <body>
            <main>

        <section class="clientes contenedor">
            <h2 class="titulo">Nuestras Recetas</h2>
            <div class="cards">
                <div class="card">
                    <img src="/static/img/salmon.jpg" alt="">
                    <div class="contenido-texto-card">
                        <center><h4>Receta 01</h4>
                        <p>Salmón al horno</p></center>
                    </div>   
                                        
                </div>
        </section>
            <center>
                <b>    
                    <p >
                        En otoño e invierno suele disminuir nuestro consumo de pescado y no hay ninguna razón para que esto ocurra. 
                        El salmón, además, tiene la misma calidad durante todo el año, es rico en vitamina D, 
                        algo que nos viene genial ahora que hay menos horas de sol, y es una importante fuente de ácidos grasos omega 3, 
                        que tienen un importante papel en la prevención de enfermedades cardiovasculares.</p>
            </center>    
           <center>          
      <p ><br>
                  Ingredientes para 4 personas:<br>
                  -4 filetes de salmón de 150/200 gramos<br>
                  -1 limón<br>
                  -Eneldo<br>
                  -4 dientes de ajo<br>
                  -Sal y pimienta<br><br>

                     Precalienta el horno a 200 grados. Coloca los filetes de salmón en una fuente de horno. Corta el limón en cuatro trozos y exprime cada trozo sobre uno de los filetes. 
                     Pela y pica cada diente de ajo, y échalos también sobre cada uno de los filetes. Espolvorea cada filete con una pizca de eneldo (si te pasas sólo sabráa eneldo) y añade pimienta y sal. 
                     Hornea los filetes durante unos 20 minutos o hasta que veas que están hechos.
            </p>  
    
        </b> 
          </center>
          <section class="clientes contenedor">
            
            <div class="cards">
                <div class="card">
                    <img src="/static/img/brocoli.jpg" alt="">
                    <div class="contenido-texto-card">
                       <center> <h4>Receta 02</h4>
                        <p>Brocoli Asado Picado</p></center>
                    </div>                                           
                </div>
        </section>
            <center>
                <b>           
                    <p style="color: rgb(0, 0, 0);">
                        El brócoli es una verdura de invierno que empieza a aparecer en estas fechas por nuestras fruterías.
                        Tiene un alto contenido en fibra y aporta muchas vitaminas y pocas calorías. Además contiene un compuesto, 
                        el sulforafano, al que se atribuyen propiedades antioxidantes y antibacterianas. 
                        Además, algunos estudios han asociado el brócoli con determinadas propiedades anticangerígenas y antiartitris. 
                        En España no hay demasiada tradición en lo que al brócoli se refiere pero, como todas las verduras, 
                        se puede preparar de muchísimas formas. Valga como ejemplo esta receta de brócoli asado.</p>
            </center>    
           <center>          
      <p style="color: rgb(0, 0, 0);"><br>
                  Ingredientes para 4 personas:<br>
                  -500 gramos de brocoli<br>
                  -4 dientes de ajo bien picados<br>
                  -Pimienta de cayena o guindilla molida<br>
                  -Aceite de oliva<br>
                  -Sal y pimienta<br><br>

                  Precalienta el horno a 220 grados. En un bol grande, mezcla el brócoli limpio y cortado en trozos de unos 
                  cinco centímetroscon dos cucharas soperas de aceite de oliva. Salpimenta la mezcla. 
                  Coloca el brócoli en una fuente para el horno y ásalo durante 15 minutos. 
                  Mientras, mezcla otras dos cucharas soperas de aceite con el ajo picado y la pimienta de cayena o guindilla molida 
                  (dependiendo del grado de picor que prefieras puedes echar más o menos, media cucharilla suele ser suficiente). 
                  Cuando pasen los quince minutos reparte el condimento sobre el brócoli, 
                  mézclalo bien y vuelve a meter la verdura en el horno unos 10 minutos, hasta que el brócoli empiece a adquirir 
                  tonos marrones. Sírvelo caliente.<br>
            </p>  
        </b> 
        <section class="clientes contenedor">
            
            <div class="cards">
                <div class="card">
                    <img src="/static/img/calabaza.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Receta 03</h4>
                        <p>Crema de calabaza</p>
                    </div>                                           
                </div>
        </section>
            <center>
                <b>           
                    <p style="color: rgb(0, 0, 0);">
                        La calabaza, que ahora mismo está en temporada y se encuentra casi regalada en las fruterías, 
                        es una hortaliza baja en calorías con un alto contenido en fibra y vitamina A. 
                        Su color naranja es consecuencia de su alto contenido de beta caroteno que ayuda a prevenir enfermedades del corazón. 
                        Hay múltiples formas de preparar la calabaza. Se puede tomar simplemente cocida, acompañada de patatas, 
                        pero en España como siempre se ha comido es en puré, y no hay receta más sencilla en el universo.</p>
            </center>    
           <center>          
      <p style="color: rgb(0, 0, 0);"><br>
                  Ingredientes para 2 personas:<br>
                  -51 trozo de calabaza de unos 450 gramos<br>
                  -250 gramos de patata<br>
                  -2 zanahorias<br>
                  -Aceite de oliva<br>
                  -Sal y pimienta<br><br>

                  Pon cinco vasos de agua a cocer en una cazuela. Pela la calabaza, lávala, retira las pepitas y córtala en trozos. 
                  Pela, lava y corta también los puerros, las zanahorias y las patatas. Cuando el agua esté caliente, echa todas 
                  las verduras, añade dos cucharadas de aceite y sal y pimienta al gusto. Tapa la olla y deja cocer la mezcla 25
                   minutos a fuego medio. Tras esto pasa la crema por la batidora eléctrica o el pasapurés. 
                  La crema es exquisita si además se le añade un par de quesitos, pero claro, aumentan las calorías del plato.<br>
            </p>  
        </b> 
        <section class="clientes contenedor">
            
            <div class="cards">
                <div class="card">
                    <img src="/static/img/alubias.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Receta 04</h4>
                        <p>Alubias con verduras en olla exprés. </p>
                    </div>                                           
                </div>
        </section>
            <center>
                <b>           
                    <p style="color: rgb(0, 0, 0);">
                        Las legumbres no son un alimento estacional, y se pueden encontrar las mejores variedades todo el año,
                         pero no cabe duda de quecomerse un guisote de alubias no es lo que más apetece en verano. Por ello, 
                         ahora que llega el frio, es el mejor momento para recuperar uno de los alimentos más completos con el 
                         que contamos en estas tierras. Las legumbres son baratas y muy fáciles de cocinar (pese a que muchos 
                         piensen lo contrario). Son un alimento muy rico en proteínas y fibras, lo que las convierte en un buen
                          sustituto de la carne, indispensable para los vegetarianos, pero recomendable para todo aquel que 
                          quiera disminuir el consumo de proteína animal. En concreto las alubias, pintas, rojas o negras 
                          (como las de Tolosa), tienen una pequeña cantidad de ácidos omega 3 y, cuanto más oscuro sea el 
                          color de la alubia, más rica es en antioxidantes. Para que este plato sea del todo saludable lo 
                          mejor es prepararlo sólo con verduras, las alubias son lo suficientemente contundentes como para 
                          no necesitar ningún añadido. 
                        La receta es orientativa, en realidad, se puede añadir casi cualquier tipo de verduras..</p>
            </center>    
           <center>          
      <p style="color: rgb(0, 0, 0);"><br>
                  Ingredientes para 6 personas:<br>
                  -500 gramos de alubias<br>
                  -1 cebolla<br>
                  -1 pimiento verde<br>
                  -1 diente de ajo<br>
                  -Pimienta de cayena o guindilla(Opcional)<br>
                  -Aceite de oliva<br>
                  -Sal y pimienta<br><br>

                  Esta es la receta más básica para preparar las alubias y está pensada para hacerlas en el momento, sin necesidad de ponerlas a remojo.
                   En cualquier caso, si lo que usamos es alubia negra, es preferible que pasen una noche en agua. 
                   Basta con echar las alubias en una olla exprés, pelar y cortar la cebolla en dos mitades, cortar el pimiento,
                    pelar los dientes de ajo, echar algo de guindilla o pimienta de cayena (si se quiere un toque picante) 
                    y ponerlo todo en la olla. Tras esto, cubretodo con agua, echaun buen chorretón de aceite, sal y pimienta. 
                    Tapa laolla y cocina afuego medio. Cuando la válvula empieza a girar, baja el fuego al mínimo y espera diez minutos.
                     Apaga el fuego, deja reposar, y en unos 10 minutos estarán listas las judías. Si han quedado duras, 
                     algo que puede ocurrir dependiendo del tipo de alubia, basta con volver a ponerlas al fuego:
                      elguiso no se nos echará a perder..<br>
            </p>  
        </b> 

        <section class="clientes contenedor">
            
            <div class="cards">
                <div class="card">
                    <img src="/static/img/batata.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Receta 05</h4>
                        <p>Batata al horno</p>
                    </div>                                           
                </div>
        </section>
            <center>
                <b>           
                    <p style="color: rgb(0, 0, 0);">
                        La batata o boniato es un tubérculo de invierno cuyo consumo en España se ha limitado siempre a los puestos 
                        de castañas navideños. Dado el crecimiento de la población latinoamericana, entre los queel boniato es muy popular,
                         cada vez es más fácil de encontrar en las fruterías. Se trata de una hortaliza baja en calorías y rica en potasio, 
                         que puede ayudarnos a mantener unos niveles de tensión arterial saludables.
                         Si consumes la piel, además, es una buena fuente de fibra. Es un acompañamiento perfecto para la carne.</p>
            </center>    
           <center>          
      <p style="color: rgb(0, 0, 0);"><br>
                  Ingredientes para 4 personas:<br>
                  -4 batatas pequeñas (aproximadamente medio kilo)<br>
                  -Romero<br>
                  -Aceite de oliva<br>
                  -Sal y pimienta<br><br>

                  Precalienta el horno a 220 grados. Lava y seca las batatas, córtalas longitudinalmente y,
                   después, corta en cuatro cada mitad. Coloca la batata en un bol y mézclala con 3 cucharas 
                   soperas de aceite de oliva, sal, pimienta y romero (se puede echar al gusto otras especias). 
                   Coloca papel de aluminio sobre una bandeja de horno y dispón los trozos de batata sobre este. 
                   Hornea durante 15 minutos, con unas pinzas dale la vuelta a cada trozo, y hornea otros 15 minutos.
                    Sirve inmediatamente..<br>
            </p>  
        </b> 



    </main>
    <br>
    </body>
{% endblock %}

