
{% extends 'core/index.html' %}
{% load  static %}
{% block title %} Registro {% endblock %}

{% block static %} 
    <link  type='text/css' href='{% static "css/estiloForm.css" %}' rel='stylesheet'> 
{% endblock %}
{% block Navegación %}{% endblock %}
    
{% block content %}

    <body>
        <section class="form-register">
        
        <h4>Llenar Formulario Para Ver Recetas</h4>
        <form action="#" method="post" class="formulario">
            {% csrf_token %}
                <input class="controls" type="text" name="{{form.first_name.name}}" id="name" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="{{form.last_name.name}}" id="last_name" placeholder="Ingrese su Apellido">
                <input class="controls" type="text" name="{{form.username.name}}" id="username" placeholder="Usuario">
                <input class="controls" type="email" name="{{form.email.name}}" id="email" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="{{form.password1.name}}" id="password" placeholder="Ingrese su Contraseña">
                <input class="controls" type="password" name="{{form.password2.name}}" id="password2" placeholder="Verifique su Contraseña">
                <P>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="{% url 'login' %}">¿Ya tengo cuenta?</a></p>
        </form>
        </section>
    
    </body>
{% endblock %}

{% block footer %} {% endblock %}
