@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    padding: 0;
    margin: 0;
    background-size: 100%;
}
/*navegacion 1*/
.container{
    background-color: rgb(6, 56, 56);
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
    font-family: 'Rubik Moonrocks';
    
}

.nav-item{
    list-style: none;
    
}

.nav-link{
    text-decoration:none;
    color:white;
}
.nav-link:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* contenido */
.imgprin{
    background-color: #efefef;
    width: 1000px;
    display: block;
    margin: 0px auto;
}

.imgprincipal{
    width: 900px;
    display: block;
    margin: 0px auto;
}

.cuerpo{
    overflow: hidden;
}
.caja{
    float: left;
    width: 310px;
    margin: 8px;
    padding: 0 0 70px 0;
}
.subtitulos{
    background: #0d2033;
    border-radius: 10px;
}
.servicios{
    color:white;
    text-align: center;
    padding: 5px 0px;
}
.efecto:hover{
    opacity: 0.8;
    cursor: pointer;
}
.contenido{
   background-color:white;
   padding: 16px;
   text-align: justify;

}
.boton{
    padding: 15px 20px;
    margin: 20px 0;
    color:white;
    background: #0a141d;
    cursor: pointer;
    border-radius: 15px;
    border-color: rgb(102, 25, 20);
}
.boton:hover{
    background: #415d69;
    color: #630a0a;
    font-size: 16px;
    border-radius: 15px;
}
.titulo{
    text-align: center;
    padding: 25px 0 18px 0;
    color: #630a0a;
    font-size: 39px;
}
.tituloreceta{
    font-size: 25px;
    color: #630a0a;
}





/*pie de pagina */
.pie-pagina{
    width:100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width:100%;
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: red;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding:  15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* barra de navegacion*/
header {
    background: #415d69;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

.img2 {
    width: 50px;
    height: 60px;
    float: left;
    padding: 8px;
}
nav{
    float:right;
}

nav ul li{
    list-style: none;
    margin-left: 25px;
    padding: 20px 0px;
    float:right;
    position: relative;
    
  
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:bold;
    cursor: pointer;
    padding: 10px;
    border: 3px solid rgb(126, 27, 27);   
    border-radius: 15px;
}

nav li a:hover{
    background-image: radial-gradient(circle at -12.29% 72.67%, #ff851a 0, #ff762b 8.33%, #ff6637 16.67%, #ff5440 25%, #f44146 33.33%, #e02c49 41.67%, #c81449 50%, #af0047 58.33%, #980046 66.67%, #840044 75%, #720043 83.33%, #620043 91.67%, #550044 100%);
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: rgb(105, 45, 45);
    height: 4px;
    top: 0;
    position:absolute;
    transition: width 0.2ms;
}

nav ul li a:hover::before{
    width: 100%;

}
/*estilos de acceder*/
#main-contaiener{
    padding-top: 100px;
    text-align: center;
}
.btn{
    margin-top: 20px;
    border-radius: 6px;
    padding:16px 18px ;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(255,255,255,0.3);
    box-shadow:0 4px 0 rgba(0,0,0,0.3) ;
    
}
.btn-green{
    color: rgb(255, 255, 255);
    background-color: #0a1a2a;
    border: 3px solid red;
    cursor: pointer;
}
.btn-green:hover{
    background-image: radial-gradient(circle at -12.29% 72.67%, #ff851a 0, #ff762b 8.33%, #ff6637 16.67%, #ff5440 25%, #f44146 33.33%, #e02c49 41.67%, #c81449 50%, #af0047 58.33%, #980046 66.67%, #840044 75%, #720043 83.33%, #620043 91.67%, #550044 100%);
}
.btn-green:active{
    background-color: #415d69;
}